/* 色指定は16進数6桁カラーコードで指定する。透明度は16進数8桁カラーコードで付加指定する。*/
/* タグ名の指定を上に記述する。その下に、そのタグの中で使われるclass名の記述していく。 */
/* 背景色や文字色、幅や大きさの指定、テキスト状態や枠の指定、並び方の指定の順番に記述する。ただし、習ったおまじない系は一番上に記述する。 */


/* ページ全体の基本の見た目設定 */
body{
    background-color: #d0f0f8;
    margin: 0 0;
}

/* ↓headerタグ関係の記述 */
header{
    background-color: #cdd2ffb6;
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
}

.social-icons{
    position: absolute;
    right: 5px;
    top: 3px;
    display: flex;
    flex-direction: column;
}

.social-icons img{
    max-width: 30px;
    height: auto;
    display: block;
}

.social-icons a {
    margin: 2px auto;
}

.header-inner h1{
    padding-right: 55px;
}

.header-navi ul{
    background-color: #adadad;
    margin: 0;
    padding: 2px 2px;
    list-style-type: none;
    
    display: flex;
    justify-content: space-around; 

    /* 横方向にはみ出した(overflow)場合に、自動(auto)でスクロールバーを出す */
    overflow-x: auto; 
    /* Flexアイテムの折り返し(wrap)を禁止(nowrap)して、強制的に一行に収める */
    white-space: nowrap;
}

.header-navi a {
    color: #ffffff; 
    text-decoration: none; 
    /* テキストの下線を消す */
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    display: block; 
    margin: 1px 2px;
    padding: 5px 5px; 
    /* パンやズームを許可するか、 */
    touch-action: manipulation;
}

/* 画面の幅が基準以下の場合に適用 */
@media (max-width: 445px) {

    .header-navi a {
        /* 文字のサイズを少し小さくする */
        font-size: 14px; 
        /* 余白も少し詰める */
        padding: 3px 2px;
        border: 1px solid #f1f1f1;
    }

}

.header-navi a:hover,
.header-navi a:active { /* マウスが乗った時（ホバー）とクリックするとき（アクション）のスタイル。
    スマホとPC両方のクリックの見た目を整えるならこれ。 */
    background-color: #7a7a7ad0; 
}


/* ↓tableタグ関係の記述。*/
table{
    /* 枠線を一本線で表示するおまじない */
    border-collapse: collapse;
    width: 80%;
    /* テーブルを中央に配置する */
    margin: 20px auto;
}

th, td{
    /* 枠線のスタイルを指定 (1pxの太さ, 実線, グレー) */
    border: 1px solid #8a8a8a9a;
    /* セル内の余白 */
    padding: 10px;
    /* テキストを左揃えに */
    text-align: left;
}

th{
    background-color: #a9f791;
}

td{
    background-color: #d9f8d6;
}

/* contents-urlクラスについては注意！使いまわしてるから！ */ 
.contents-url a {
    background-color: #e4e4e462;
    color: #2135e9; 
    touch-action: manipulation;
}

.contents-url a:hover,
.contents-url a:active {
    background-color: #7a7a7aa0;
}


/* ↓トップページの動画の更新一覧について */
.video-gallery{
    margin: 20px auto;
    border: 2px solid #222222;
}

.video-gallery-contents{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    /* ↓子要素の折り返しについて、親要素の大きさをこえたら、勝手に改行する */
    flex-wrap: wrap;
}

.video-card{
    background-color: #ffffff;
    padding: 5px;
    margin: 2px;
    border: 1px solid #bababa;
    border-radius: 6px;
    flex: 1 1 180px;
}

.video-card img{
    width: 100%;
    min-width: 100px;
    height: auto;
}

#video-card-other{
    background-color: #ffffff00;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: flex-end;
}

.video-card .details-link {
    /* カード内の、お知らせへのリンクラッパーの基本スタイル。普段はこれを非表示にしておく！ */
  display: none;
}

.video-card.special-video .details-link {
    /* 「video-card」classと同時に「special-video」というclassが付いたカードの中の、
   「details-link」だけを表示する。特別な時だけ、上書きして表示！ */

  display: block;
}

.video-card.special-video .details-link a:hover,
.video-card.special-video .details-link a:active{
    background-color: #7a7a7aa1; 
}

/* ↑まだ使わない。動画の更新一覧について↑ */

/* ↓お知らせページのメインについての記述 */
.news-main div{
    margin: 5px;
    border: 2px solid #00000070;
}

.news-container div{
    margin: 10px 5px;
    border: 2px dotted;
    border-left: none;
    border-right: none;
}

/* ↓footerタグ関係の記述 */
footer{
    background-color: #5c7171;
    color: #d0f0f8;
    text-align: center;
    padding: 5px 0;
}
