@charset "UTF-8";
/* 以下には、基本ルールや基本の見た目の記述をする。 */
@font-face {
  font-family: "kaiseidecol";
  src: url(fonts/KaiseiDecol.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "kaiseidecol";
  src: url(fonts/KaiseiDecol.Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MPLUS2";
  src: url(fonts/MPLUS2.ttf) format("truetype");
}
body {
  background-image: url(img/site.back.png);
  background-size: 100% auto;
  margin: 0 0;
  background-attachment: fixed;
  font-family: "MPLUS2", sans-serif;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid rgba(138, 138, 138, 0.6039215686);
  text-align: left;
}

th {
  background-color: #a9f791;
  font-family: "kaiseidecol", serif;
}

td {
  background-color: #d9f8d6;
}

/* ここまで統一の見た目についての記述 */
/* 以下にはヘッダーについての記述をする。 */
header {
  color: #ebebeb;
  background-color: #4682a5;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "kaiseidecol", serif;
  position: relative;
}

.header__social-icons {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
}
.header__social-icons img {
  width: auto;
  max-height: 45px;
  display: block;
}
.header__social-icons a {
  margin: 3px auto;
}

.header--inner h1 {
  padding-right: 55px;
}

.header__navi ul {
  background-color: #adadad;
  margin: 0;
  padding: 2px 2px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
}
.header__navi a {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  display: block;
  margin: 1px 2px;
  padding: 5px 5px;
  touch-action: manipulation;
}
.header__navi a:hover, .header__navi a:active {
  background-color: rgba(122, 122, 122, 0.8156862745);
}

/* ここまでヘッダーについての記述 */
/* 以下にはフッターについての記述をする。 */
footer {
  background-color: #5c7171;
  color: #d0f0f8;
  text-align: center;
  padding: 5px 0;
}

/* ここまでフッターについての記述 */
/* 以下にはトップページについての記述をする。 */
.gallery__top--recent-video {
  margin: 20px 5px;
  padding: 0 2px;
  border: 2px solid #222222;
}
.gallery__top--recent-video h2 {
  font-family: "kaiseidecol", serif;
  font-size: 35px;
  font-weight: bold;
}

.gallery__top--contents {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__top--video {
  background-color: #ffffff;
  padding: 5px;
  margin: 2px;
  border: 1px solid #bababa;
  border-radius: 6px;
  flex: 1 1 150px;
}
.card__top--video img {
  width: 100%;
  min-width: 85px;
  height: auto;
}

#card__top--other {
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  border: none;
  display: flex;
  align-items: flex-end;
}

.card__top--video .link__top--video {
  display: none;
}

.card__top--video.video--special .link__top--video {
  display: block;
}
.card__top--video.video--special .link__top--video a:hover, .card__top--video.video--special .link__top--video:active {
  background-color: rgba(122, 122, 122, 0.631372549);
}

.link__top--text a {
  background-color: rgba(209, 209, 209, 0.4666666667);
  color: #1815d6;
  touch-action: manipulation;
}
.link__top--text a:hover, .link__top--text a:active {
  background-color: #eeeeee;
}

/* ここまでトップページについての記述 */
/* 以下には紹介ページについての記述をする。 */
.table__profile {
  width: 70%;
  margin: 40px auto;
  border-collapse: collapse;
  border-radius: 15px;
  background-image: url("img/table.profile.back.jpg");
  background-size: cover;
  background-color: #a5a5a5;
  box-shadow: 15px 15px 10px rgba(122, 122, 122, 0.2352941176);
  overflow: hidden;
  /* 最後の行の下線は不要なので消す */
}
.table__profile th,
.table__profile td {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}
.table__profile th {
  padding: 25px 12px;
  width: 30%;
  color: #2f4b66;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.table__profile td {
  color: #e8f2ff;
  padding: 15px 15px;
  border-bottom: 1px dashed rgba(232, 242, 255, 0.5882352941);
}
.table__profile tr:last-child td {
  border-bottom: none;
}

.link__profile a {
  background-color: rgba(209, 209, 209, 0.4666666667);
  color: #1815d6;
  touch-action: manipulation;
}
.link__profile a:hover, .link__profile a:active {
  background-color: #eeeeee;
}

/* ここまで紹介ページについての記述 */
/* 以下にはお知らせページについての記述をする。 */
.gallery__news--main {
  margin: 5px;
  padding: 0 5px;
  border: 4px solid rgba(0, 0, 0, 0.4392156863);
}

.container__news h3 {
  font-family: "kaiseidecol", serif;
  font-size: 25px;
}
.container__news div {
  margin: 10px 5px;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}

.link__news a {
  background-color: rgba(209, 209, 209, 0.4666666667);
  color: #1815d6;
  touch-action: manipulation;
}
.link__news a:hover, .link__news a:active {
  background-color: #eeeeee;
}

/* ここまでお知らせページについての記述 */
/* 以下にはコンテンツページについての記述をする。 */
/* ここまでコンテンツページについての記述 */
/* 以下には問い合わせページについての記述をする。 */
/* ここまで問い合わせページについての記述 */
/* 以下はスマホ用とタブレット用の実装 */
@media (max-width: 768px) {
  .header__navi a {
    font-size: 15px;
    padding: 4px 3px;
    border: 2px solid #f1f1f1;
  }
}
@media (max-width: 480px) {
  .header__navi a {
    font-size: 14px;
    padding: 3px 2px;
    border: 2px solid #f1f1f1;
  }
}/*# sourceMappingURL=style.css.map */