// 以下にはスマホ版での見た目で調整したい項目を記述する。
@mixin mobile-styles {

        .header__navi a {
                // 文字のサイズを少し小さくする
                font-size: 14px;
                // 余白も少し詰める
                padding: 3px 2px;
                border: 2px solid #f1f1f1;
        }
}